*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: -webkit-linear-gradient(top, #30b3b6 1%,#a0e4e7 100%); 
    background: linear-gradient(to bottom, #30b3b6 1%,#a0e4e7 100%);
    background-repeat: no-repeat;
    max-height: 100vh;
    min-width: 100vw;

}


.container{
    width: 80%;
    margin:0 auto;
}

.product_informations{
    background: $white;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    top:125px;
    position: relative;
    z-index: -1;
}

