/* ========= Breakpoints ========= */
$sm:375px; // format portrait
$md:667px; // format paysage

/* ========= Colors ========= */

$white: #fdfefe;
$blue: #3ac9cb;
$black: #1a1a1a;
$gray-text: #727272;
$gray: #a3a3a3;
$pink:#fa63a7;