.buy-button {
  display: flex;
  justify-content: center;
  button {
    padding: 15px 100px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, #30c7ca 1%, #304eca 100%);
  }

  &.shadow button {
    -webkit-box-shadow: 0px 0px 39px 9px rgba(217, 248, 254, 1);
    -moz-box-shadow: 0px 0px 39px 9px rgba(217, 248, 254, 1);
    box-shadow: 0px 0px 39px 9px rgba(217, 248, 254, 1);
  }
}
