h1 {
  @include font_OpenSansCondensed(30px, 700, $white);
  margin:0;
}

h2 {
  @include font_OpenSansCondensed(30px, 300, $white);
  margin:0;
}

h3 {
  @include font_OpenSansCondensed(15px, 700, $black);
}

button {
    @include font_OpenSansCondensed(18px, 700, $white);
  }

article {
  @include font_OpenSans(12px, 400, $gray-text);
}
 
.size-info{
    @include font_OpenSansCondensed(18px, 700, #b3b3b3);
    .size-active{
        color:$black;
    }
}

.price p{
    @include font_OpenSansCondensed(30px, 700, $black);

    span{
        @include font_OpenSansCondensed(18px, 700, $black);

    }
}