@mixin respond-to($prop, $query) {
  @media ($prop: $query) {
    @content;
  }
}

@include respond-to(min-width, $md) {
  article {
    display: none;
  }
  .product_informations {
    width: 60%;
    left: 267px;
    top: -75px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .price_info{
          display: flex;
          flex-direction: row;

      }

      .subtitle-text{
        border-top:1px solid #cbcbcb;
        width: 80%;
        display:flex;
        justify-content: flex-end;

      }
      ul{margin-top:10px;}
    }
  }
}
